.carts{
    margin-bottom: 9%;
}
.gthome{
    background-color: darkgreen;
    margin-top: 30px;
    color:white
}
p{
    font-style: normal;
}
.tickS{
    height:200px;
    margin-top: 20px;
    margin-bottom: 20px;
}