footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgba(0,0,0,0.9);
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  .element p{
    color:white;
    font-size: 15px;
    font-style: normal;
  }
  .hidden{
    display: none;
    height:50px
  }
  .location{
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .location img{
    height:30px;
    width:auto;
    margin-top: 20px;
  }